<div *ngIf="showNoSuchResults">
      {{messageNoSuchResults}}
</div>
 <div class="example-container mat-elevation-z8" *ngIf="showTableStatusSimple">
    <table mat-table [dataSource]="transactions">
      <!-- Item Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> Consultor </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.user}} </td>
        <td mat-footer-cell *matFooterCellDef> Consultor </td>
      </ng-container>
  
      <ng-container matColumnDef="net_value_invoice">
            <th mat-header-cell *matHeaderCellDef> Receita Líquida </th>
            <td mat-cell *matCellDef="let transaction">R$ {{transaction.net_value_invoice}} </td>
            <td mat-footer-cell *matFooterCellDef> Receita Líquida </td>
      </ng-container>

      <ng-container matColumnDef="fixed_cost_consultant">
            <th mat-header-cell *matHeaderCellDef> Custo Fixo </th>
            <td mat-cell *matCellDef="let transaction">R$ {{transaction.fixed_cost_consultant}} </td>
            <td mat-footer-cell *matFooterCellDef> Custo Fixo </td>
      </ng-container>

      <ng-container matColumnDef="commisson">
            <th mat-header-cell *matHeaderCellDef> Comissão </th>
            <td mat-cell *matCellDef="let transaction">R$ {{transaction.commisson}} </td>
            <td mat-footer-cell *matFooterCellDef> Comissão </td>
      </ng-container>

      <ng-container matColumnDef="net_income">
            <th mat-header-cell *matHeaderCellDef> Lucro </th>
            <td mat-cell *matCellDef="let transaction">R$ {{transaction.net_income}} </td>
            <td mat-footer-cell *matFooterCellDef> Lucro </td>
      </ng-container>

      <!-- Cost Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.total }} </td>
        <td mat-footer-cell *matFooterCellDef> {{getTotal() }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="example-container mat-elevation-z8" *ngIf="showTableStatusSimple2">
      <table mat-table [dataSource]="transactions">
        <!-- Item Column -->
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.user}} </td>
          <td mat-footer-cell *matFooterCellDef> Cliente </td>
        </ng-container>
    
        <ng-container matColumnDef="net_income">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let transaction">R$ {{transaction.net_income}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>
  
        <!-- Cost Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.total }} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotal() }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsClients"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsClients; let i = index" [ngClass]="{'highlight': i == 0 }"></tr>
      </table>
    </div>