<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Agence</a>
      <a mat-list-item href="#">Projetos</a>
      <a mat-list-item href="#">Administrativo</a>
      <a mat-list-item href="#">Comercial</a>
      <a mat-list-item href="#">Financeiro</a>
      <a mat-list-item href="#">Usuário</a>
      <a mat-list-item href="#">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="./assets/img/logo.gif"></span>
    </mat-toolbar>

    <app-tab></app-tab>

  </mat-sidenav-content>
</mat-sidenav-container>
