<form [formGroup]="filterForm" #formRef="ngForm" autocomplete="off" novalidate>
    <mat-form-field>
        <mat-label>Início</mat-label>
        <input matInput [matDatepicker]="myPicker" readonly formControlName="startDate" id="startDate" placeholder="Data" format="DD/MM/YYYY">
        <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
        <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field>
    à
    <mat-form-field>
        <mat-label>Término</mat-label>
        <input matInput [matDatepicker]="myPicker2" readonly formControlName="endDate" id="endDate" placeholder="Data" format="DD/MM/YYYY">
        <mat-datepicker-toggle matSuffix [for]="myPicker2"></mat-datepicker-toggle>
        <mat-datepicker #myPicker2></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
            <mat-label>{{filterLabel}}</mat-label>
            <mat-select formControlName="items" id="items" (ngModelChange)="selectedItems($event)" multiple>
            <mat-option *ngFor="let item of lists" [value]="item[key_list]">{{item[value_list]}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>