<mat-list>
        <mat-list-item></mat-list-item>
</mat-list>      
<form class="consultant-form">
    <mat-form-field>
        <mat-label>Início</mat-label>
        <input matInput [matDatepicker]="myPicker" placeholder="Data" format="DD/MM/YYYY">
        <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
        <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field>
    à
    <mat-form-field>
        <mat-label>Término</mat-label>
        <input matInput [matDatepicker]="myPicker2" placeholder="Data" format="DD/MM/YYYY">
        <mat-datepicker-toggle matSuffix [for]="myPicker2"></mat-datepicker-toggle>
        <mat-datepicker #myPicker2></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
            <mat-label>Clientes</mat-label>
            <mat-select multiple>
            <mat-option *ngFor="let client of clientsList" [value]="client">{{client}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>